@import "tailwindcss";

@theme {
  --color-cseri-navy: #142444;
  --color-cseri-orange: #F07A1A;
  --color-cseri-blue: #2667B1;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}
